{% extends "mainapp/layouts/sidebar_layout.html" %}

    {% block head_title %}Part List{% endblock %}

    {% block main_content %}
    <div class="container">
        <h2 class="h2">Part List</h2>

        <a href="{% url 'part_create' %}" class="btn btn-primary mb-3">Create New Part</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Part Number</th> <th>Description</th> <th>Container</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for part in part_list %}
                <tr>
                    <td>{{ part.part_number }}</td> <td>{{ part.description }}</td> <td>{{ part.container }}</td>
                    <td>
                        <a href="{% url 'part_detail' part.id %}" class="btn btn-info btn-sm">View</a>
                        <a href="{% url 'part_update' part.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'part_delete' part.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No parts found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}